In [2]:
# data wrangling
import pandas as pd

# plotting
import matplotlib.pyplot as plt

# other
import time

# sklearn
from sklearn.model_selection import train_test_split

# local files
from sofascores import compute_sofa

In [3]:
# load data
DATA_FILEPATH = "../data/all_hourly_data.h5"
patients = pd.read_hdf(DATA_FILEPATH, "patients")
vitals_labs_mean = pd.read_hdf(DATA_FILEPATH, "vitals_labs_mean")
interventions = pd.read_hdf(DATA_FILEPATH, "interventions")

In [4]:
print(patients.shape)
print(patients.head())

(34472, 28)
                              gender              ethnicity        age  \
subject_id hadm_id icustay_id
3          145834  211552          M                  WHITE  76.526792
4          185777  294638          F                  WHITE  47.845047
6          107064  228232          F                  WHITE  65.942297
9          150750  220597          M  UNKNOWN/NOT SPECIFIED  41.790228
11         194540  229441          F                  WHITE  50.148295

                              insurance           admittime  \
subject_id hadm_id icustay_id
3          145834  211552      Medicare 2101-10-20 19:08:00
4          185777  294638       Private 2191-03-16 00:28:00
6          107064  228232      Medicare 2175-05-30 07:15:00
9          150750  220597      Medicaid 2149-11-09 13:06:00
11         194540  229441       Private 2178-04-16 06:18:00

                                            diagnosis_at_admission  \
subject_id hadm_id icustay_id
3          145834  211552                              HYPOTENSION
4          185777  294638      FEVER,DEHYDRATION,FAILURE TO THRIVE
6          107064  228232                CHRONIC RENAL FAILURE/SDA
9          150750  220597                          HEMORRHAGIC CVA
11         194540  229441                               BRAIN MASS

                                        dischtime         discharge_location  \
subject_id hadm_id icustay_id
3          145834  211552     2101-10-31 13:58:00                        SNF
4          185777  294638     2191-03-23 18:41:00  HOME WITH HOME IV PROVIDR
6          107064  228232     2175-06-15 16:00:00           HOME HEALTH CARE
9          150750  220597     2149-11-14 10:15:00               DEAD/EXPIRED
11         194540  229441     2178-05-11 19:00:00           HOME HEALTH CARE

                               fullcode_first  dnr_first  ...  \
subject_id hadm_id icustay_id                             ...
3          145834  211552                 1.0        0.0  ...
4          185777  294638                 1.0        0.0  ...
6          107064  228232                 1.0        0.0  ...
9          150750  220597                 1.0        0.0  ...
11         194540  229441                 1.0        0.0  ...

                                          outtime   los_icu admission_type  \
subject_id hadm_id icustay_id
3          145834  211552     2101-10-26 20:43:09  6.064560      EMERGENCY
4          185777  294638     2191-03-17 16:46:31  1.678472      EMERGENCY
6          107064  228232     2175-06-03 13:39:54  3.672917       ELECTIVE
9          150750  220597     2149-11-14 20:52:14  5.323056      EMERGENCY
11         194540  229441     2178-04-17 20:21:05  1.584410      EMERGENCY

                               first_careunit  mort_icu  mort_hosp  \
subject_id hadm_id icustay_id
3          145834  211552                MICU         0          0
4          185777  294638                MICU         0          0
6          107064  228232                SICU         0          0
9          150750  220597                MICU         1          1
11         194540  229441                SICU         0          0

                              hospital_expire_flag hospstay_seq  \
subject_id hadm_id icustay_id
3          145834  211552                        0            1
4          185777  294638                        0            1
6          107064  228232                        0            1
9          150750  220597                        1            1
11         194540  229441                        0            1

                              readmission_30  max_hours
subject_id hadm_id icustay_id
3          145834  211552                  0        145
4          185777  294638                  0         40
6          107064  228232                  0         88
9          150750  220597                  0        127
11         194540  229441                  0         38

[5 rows x 28 columns]

In [12]:
print(vitals_labs_mean.shape)
print(vitals_labs_mean.head())
for column in vitals_labs_mean.columns:
    print(column)

(2200954, 104)
LEVEL2                                 alanine aminotransferase albumin  \
Aggregation Function                                       mean    mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                            25.0     1.8
                              1                             NaN     NaN
                              2                             NaN     NaN
                              3                             NaN     NaN
                              4                             NaN     NaN

LEVEL2                                 albumin ascites albumin pleural  \
Aggregation Function                              mean            mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                    NaN             NaN
                              1                    NaN             NaN
                              2                    NaN             NaN
                              3                    NaN             NaN
                              4                    NaN             NaN

LEVEL2                                 albumin urine alkaline phosphate  \
Aggregation Function                            mean               mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                  NaN               73.0
                              1                  NaN                NaN
                              2                  NaN                NaN
                              3                  NaN                NaN
                              4                  NaN                NaN

LEVEL2                                  anion gap asparate aminotransferase  \
Aggregation Function                         mean                      mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0         20.666667                      69.0
                              1               NaN                       NaN
                              2               NaN                       NaN
                              3               NaN                       NaN
                              4               NaN                       NaN

LEVEL2                                 basophils bicarbonate  ...  \
Aggregation Function                        mean        mean  ...
subject_id hadm_id icustay_id hours_in                        ...
3          145834  211552     0              NaN   16.333333  ...
                              1              NaN         NaN  ...
                              2              NaN         NaN  ...
                              3              NaN         NaN  ...
                              4              NaN         NaN  ...

LEVEL2                                 total protein total protein urine  \
Aggregation Function                            mean                mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                  NaN                 NaN
                              1                  NaN                 NaN
                              2                  NaN                 NaN
                              3                  NaN                 NaN
                              4                  NaN                 NaN

LEVEL2                                 troponin-i troponin-t venous pvo2  \
Aggregation Function                         mean       mean        mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0               NaN        NaN         NaN
                              1               NaN        NaN         NaN
                              2               NaN        NaN         NaN
                              3               NaN        NaN         NaN
                              4               NaN        NaN         NaN

LEVEL2                                 weight white blood cell count  \
Aggregation Function                     mean                   mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0           NaN              14.842857
                              1           NaN                    NaN
                              2           NaN                    NaN
                              3           NaN                    NaN
                              4           NaN                    NaN

LEVEL2                                 white blood cell count urine    ph  \
Aggregation Function                                           mean  mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                                 NaN  7.40
                              1                                 NaN   NaN
                              2                                 NaN  7.26
                              3                                 NaN   NaN
                              4                                 NaN   NaN

LEVEL2                                 ph urine
Aggregation Function                       mean
subject_id hadm_id icustay_id hours_in
3          145834  211552     0             5.0
                              1             NaN
                              2             NaN
                              3             NaN
                              4             NaN

[5 rows x 104 columns]
('alanine aminotransferase', 'mean')
('albumin', 'mean')
('albumin ascites', 'mean')
('albumin pleural', 'mean')
('albumin urine', 'mean')
('alkaline phosphate', 'mean')
('anion gap', 'mean')
('asparate aminotransferase', 'mean')
('basophils', 'mean')
('bicarbonate', 'mean')
('bilirubin', 'mean')
('blood urea nitrogen', 'mean')
('co2', 'mean')
('co2 (etco2, pco2, etc.)', 'mean')
('calcium', 'mean')
('calcium ionized', 'mean')
('calcium urine', 'mean')
('cardiac index', 'mean')
('cardiac output thermodilution', 'mean')
('cardiac output fick', 'mean')
('central venous pressure', 'mean')
('chloride', 'mean')
('chloride urine', 'mean')
('cholesterol', 'mean')
('cholesterol hdl', 'mean')
('cholesterol ldl', 'mean')
('creatinine', 'mean')
('creatinine ascites', 'mean')
('creatinine body fluid', 'mean')
('creatinine pleural', 'mean')
('creatinine urine', 'mean')
('diastolic blood pressure', 'mean')
('eosinophils', 'mean')
('fibrinogen', 'mean')
('fraction inspired oxygen', 'mean')
('fraction inspired oxygen set', 'mean')
('glascow coma scale total', 'mean')
('glucose', 'mean')
('heart rate', 'mean')
('height', 'mean')
('hematocrit', 'mean')
('hemoglobin', 'mean')
('lactate', 'mean')
('lactate dehydrogenase', 'mean')
('lactate dehydrogenase pleural', 'mean')
('lactic acid', 'mean')
('lymphocytes', 'mean')
('lymphocytes ascites', 'mean')
('lymphocytes atypical', 'mean')
('lymphocytes atypical csl', 'mean')
('lymphocytes body fluid', 'mean')
('lymphocytes percent', 'mean')
('lymphocytes pleural', 'mean')
('magnesium', 'mean')
('mean blood pressure', 'mean')
('mean corpuscular hemoglobin', 'mean')
('mean corpuscular hemoglobin concentration', 'mean')
('mean corpuscular volume', 'mean')
('monocytes', 'mean')
('monocytes csl', 'mean')
('neutrophils', 'mean')
('oxygen saturation', 'mean')
('partial pressure of carbon dioxide', 'mean')
('partial pressure of oxygen', 'mean')
('partial thromboplastin time', 'mean')
('peak inspiratory pressure', 'mean')
('phosphate', 'mean')
('phosphorous', 'mean')
('plateau pressure', 'mean')
('platelets', 'mean')
('positive end-expiratory pressure', 'mean')
('positive end-expiratory pressure set', 'mean')
('post void residual', 'mean')
('potassium', 'mean')
('potassium serum', 'mean')
('prothrombin time inr', 'mean')
('prothrombin time pt', 'mean')
('pulmonary artery pressure mean', 'mean')
('pulmonary artery pressure systolic', 'mean')
('pulmonary capillary wedge pressure', 'mean')
('red blood cell count', 'mean')
('red blood cell count csf', 'mean')
('red blood cell count ascites', 'mean')
('red blood cell count pleural', 'mean')
('red blood cell count urine', 'mean')
('respiratory rate', 'mean')
('respiratory rate set', 'mean')
('sodium', 'mean')
('systemic vascular resistance', 'mean')
('systolic blood pressure', 'mean')
('temperature', 'mean')
('tidal volume observed', 'mean')
('tidal volume set', 'mean')
('tidal volume spontaneous', 'mean')
('total protein', 'mean')
('total protein urine', 'mean')
('troponin-i', 'mean')
('troponin-t', 'mean')
('venous pvo2', 'mean')
('weight', 'mean')
('white blood cell count', 'mean')
('white blood cell count urine', 'mean')
('ph', 'mean')
('ph urine', 'mean')

In [6]:
print(interventions.shape)
print(interventions.head())
print(interventions.dropna().count())
print(interventions.nunique())
# no nan values were dropped so all values are 0 or 1, false or true most likely

(2200954, 14)
                                        vent  vaso  adenosine  dobutamine  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0            1     0          0           0
                              1            1     1          0           0
                              2            1     1          0           0
                              3            1     1          0           0
                              4            1     1          0           0

                                        dopamine  epinephrine  isuprel  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                0            0        0
                              1                1            0        0
                              2                1            0        0
                              3                0            0        0
                              4                0            0        0

                                        milrinone  norepinephrine  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                 0               0
                              1                 0               0
                              2                 0               0
                              3                 0               0
                              4                 0               1

                                        phenylephrine  vasopressin  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                     0            0
                              1                     1            0
                              2                     1            0
                              3                     1            0
                              4                     1            0

                                        colloid_bolus  crystalloid_bolus  \
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                     0                  0
                              1                     0                  0
                              2                     0                  0
                              3                     0                  0
                              4                     0                  0

                                        nivdurations
subject_id hadm_id icustay_id hours_in
3          145834  211552     0                    0
                              1                    0
                              2                    0
                              3                    0
                              4                    0
vent                 2200954
vaso                 2200954
adenosine            2200954
dobutamine           2200954
dopamine             2200954
epinephrine          2200954
isuprel              2200954
milrinone            2200954
norepinephrine       2200954
phenylephrine        2200954
vasopressin          2200954
colloid_bolus        2200954
crystalloid_bolus    2200954
nivdurations         2200954
dtype: int64
vent                 2
vaso                 2
adenosine            2
dobutamine           2
dopamine             2
epinephrine          2
isuprel              2
milrinone            2
norepinephrine       2
phenylephrine        2
vasopressin          2
colloid_bolus        2
crystalloid_bolus    2
nivdurations         2
dtype: int64

In [7]:
print("number of unique ethnicities:", patients.ethnicity.nunique())
print()
print("amount of rows with a certain ethnicity")
print(patients.groupby("ethnicity")["age"].count())

number of unique ethnicities: 41

amount of rows with a certain ethnicity
ethnicity
AMERICAN INDIAN/ALASKA NATIVE                                  15
AMERICAN INDIAN/ALASKA NATIVE FEDERALLY RECOGNIZED TRIBE        2
ASIAN                                                         545
ASIAN - ASIAN INDIAN                                           49
ASIAN - CAMBODIAN                                              10
ASIAN - CHINESE                                               166
ASIAN - FILIPINO                                               13
ASIAN - JAPANESE                                                6
ASIAN - KOREAN                                                 10
ASIAN - OTHER                                                   7
ASIAN - THAI                                                    3
ASIAN - VIETNAMESE                                             33
BLACK/AFRICAN                                                  25
BLACK/AFRICAN AMERICAN                                       2456
BLACK/CAPE VERDEAN                                            122
BLACK/HAITIAN                                                  64
CARIBBEAN ISLAND                                                7
HISPANIC OR LATINO                                            881
HISPANIC/LATINO - CENTRAL AMERICAN (OTHER)                      7
HISPANIC/LATINO - COLOMBIAN                                     6
HISPANIC/LATINO - CUBAN                                        16
HISPANIC/LATINO - DOMINICAN                                    56
HISPANIC/LATINO - GUATEMALAN                                   24
HISPANIC/LATINO - HONDURAN                                      3
HISPANIC/LATINO - MEXICAN                                       8
HISPANIC/LATINO - PUERTO RICAN                                124
HISPANIC/LATINO - SALVADORAN                                   12
MIDDLE EASTERN                                                 23
MULTI RACE ETHNICITY                                           77
NATIVE HAWAIIAN OR OTHER PACIFIC ISLANDER                      11
OTHER                                                         785
PATIENT DECLINED TO ANSWER                                    351
PORTUGUESE                                                     32
SOUTH AMERICAN                                                  7
UNABLE TO OBTAIN                                              652
UNKNOWN/NOT SPECIFIED                                        3221
WHITE                                                       24429
WHITE - BRAZILIAN                                              35
WHITE - EASTERN EUROPEAN                                       21
WHITE - OTHER EUROPEAN                                         59
WHITE - RUSSIAN                                                99
Name: age, dtype: int64

In [8]:
print("number of unique insurance:", patients.insurance.nunique())
print()
print("amount of rows with a certain insurance")
print(patients.groupby("insurance")["age"].count())

number of unique insurance: 5

amount of rows with a certain insurance
insurance
Government     1050
Medicaid       2782
Medicare      18317
Private       11846
Self Pay        477
Name: age, dtype: int64

In [9]:
print("number of unique diagnosis_at_admission:", patients.diagnosis_at_admission.nunique())
print()
print("amount of rows with a certain diagnosis_at_admission")
print(patients.groupby("diagnosis_at_admission")["age"].count())
print("min count:", patients.groupby("diagnosis_at_admission")["age"].count().min())
print("max count:", patients.groupby("diagnosis_at_admission")["age"].count().max())
print("mean count:",patients.groupby("diagnosis_at_admission")["age"].count().mean())
print("std count:",patients.groupby("diagnosis_at_admission")["age"].count().std())

number of unique diagnosis_at_admission: 11352

amount of rows with a certain diagnosis_at_admission
diagnosis_at_admission
        MITRAL STENOSIS\MITRAL VALVE REPLACEMENT /SDA    1
   DUODENAL MASS/SDA                                     1
 ? SEROTONIN SYNDROME                                    1
 ABSENCE/SDA                                             1
 ADENOID CYSTIC CARCINOMA/SDA                            1
                                                        ..
WOUND INFECTION R/O SEPSIS                               1
WOUND INFECTION;HYPOTENSION                              1
WOUND TO RLE                                             1
ZENKER'S DIVERTICULUM/SDA                                1
ZYGOMATIC FRACTURE LEFT                                  1
Name: age, Length: 11352, dtype: int64
min count: 1
max count: 825
mean count: 3.0365574348132487
std count: 20.79460158089928

In [10]:
print("number of unique discharge_location:", patients.discharge_location.nunique())
print()
print("amount of rows with a certain discharge_location")
print(patients.groupby("discharge_location")["age"].count())

number of unique discharge_location: 17

amount of rows with a certain discharge_location
discharge_location
DEAD/EXPIRED                  3350
DISC-TRAN CANCER/CHLDRN H      451
DISC-TRAN TO FEDERAL HC         10
DISCH-TRAN TO PSYCH HOSP       372
HOME                         10129
HOME HEALTH CARE              9229
HOME WITH HOME IV PROVIDR       41
HOSPICE-HOME                   258
HOSPICE-MEDICAL FACILITY       107
ICF                             31
LEFT AGAINST MEDICAL ADVI      186
LONG TERM CARE HOSPITAL       1020
OTHER FACILITY                  43
REHAB/DISTINCT PART HOSP      3688
SHORT TERM HOSPITAL            353
SNF                           5203
SNF-MEDICAID ONLY CERTIF         1
Name: age, dtype: int64

In [11]:
print("number of unique admission_type:", patients.admission_type.nunique())
print()
print("amount of rows with a certain admission_type")
print(patients.groupby("admission_type")["age"].count())

number of unique admission_type: 3

amount of rows with a certain admission_type
admission_type
ELECTIVE      5705
EMERGENCY    27830
URGENT         937
Name: age, dtype: int64